iterm2/
/**/.DS_Store 
/**/.luarc.json
nvim/lazy-lock.json
tmux/*.log
.gsd-keyboard.settings-ported
Code/
cef_user_data/
dconf/
enchant/
eog/
evince/
evolution/
gdb/
gedit/
gh/
gnome-control-center/
gnome-initial-setup-done
gtk-3.0/
ibus/
libreoffice/
mimeapps.list
nautilus/
pulse/
totem/
user-dirs.dirs
user-dirs.locale

