nvim/plugin/packer_compiled.lua
tmux/*.log
.gsd-keyboard.settings-ported
.vimrc.swn
.vimrc.swo
.vimrc.swp
Code/
cef_user_data/
dconf/
enchant/
eog/
evince/
evolution/
gdb/
gedit/
gh/
gnome-control-center/
gnome-initial-setup-done
gtk-3.0/
ibus/
libreoffice/
mimeapps.list
nautilus/
pulse/
totem/
user-dirs.dirs
user-dirs.locale

